{% extends 'admin/layout/master.html' %}
{% load static %}
{% block main %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3">
			<a href="/admin1/projects_list">
			<div class="modal-dialog">
				<div class="modal-content" style=" background-color: #4997ab;">
					<div class="modal-body">
						<i class="fa fa-suitcase fa-5x" aria-hidden="true" style=" color: white;"></i>
						<form class="form-group" style="float: right;">
							<label style="font-size: 40px; color: white"><strong>255</strong></label><br>
							<label style="color: white;">Projects posted</label>
						</form>
					</div>
				</div>
			</div>
			</a>
		</div>
		<div class="col-lg-3">
			<div class="modal-dialog">
				<div class="modal-content" style="background-color: #6ca14d;">
					<div class="modal-body">
						<i class="fa fa-check fa-5x" aria-hidden="true" style="color: white " ></i>
						<form class="form-group" style="float: right;">
							<label style="font-size: 40px; color: white"><strong>255</strong></label><br>
							<label style="color: white;">Projects Approved</label>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="modal-dialog">
				<div class="modal-content" style="background-color:#bfbd24; ">
					<div class="modal-body">
						<i class="fa fa-clock-o fa-5x" aria-hidden="true" style="color: white"></i>
						<form class="form-group" style="float: right;">
							<label style="font-size: 40px; color: white"><strong>255</strong></label><br>
							<label style="color: white;" >Projects Pending</label>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="modal-dialog">
				<div class="modal-content" style="background-color:#b83333; ">
					<div class="modal-body">
						<i class="fa fa-pencil-square-o fa-5x" aria-hidden="true" style="color: white"></i>
						<form class="form-group" style="float: right;">
							<label style="font-size: 40px; color: white"><strong>255</strong></label><br>
							<label style="color: white;" >Current Projects</label>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="modal-dialog">
				<div class="modal-content" style="background-color:#b83333; ">
					<div class="modal-body">
						<i class="fa fa-users fa-5x" aria-hidden="true" style="color: white"></i>
						<form class="form-group" style="float: right;">
							<label style="font-size: 40px; color: white"><strong>255</strong></label><br>
							<label style="color: white;" >Total Freelancer</label>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="modal-dialog">
				<div class="modal-content" style="background-color:#b83333; ">
					<div class="modal-body">
						<i class="fa fa-users fa-5x" aria-hidden="true" style="color: white"></i>
						<form class="form-group" style="float: right;">
							<label style="font-size: 40px; color: white"><strong>255</strong></label><br>
							<label style="color: white;" >Total Hirer</label>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="modal-dialog">
				<div class="modal-content" style="background-color:#b83333; ">
					<div class="modal-body">
						<i class="fa fa-rupee fa-5x" aria-hidden="true" style="color: white"></i>
						<form class="form-group" style="float: right;">
							<label style="font-size: 40px; color: white"><strong>255</strong></label><br>
							<label style="color: white;" >Account Balance</label>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="modal-dialog">
				<div class="modal-content" style="background-color:#b83333; ">
					<div class="modal-body">
						<i class="fa fa-line-chart fa-5x" aria-hidden="true" style="color: white"></i>
						<form class="form-group" style="float: right;">
							<label style="font-size: 40px; color: white"><strong>255</strong></label><br>
							<label style="color: white;" >Profit</label>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





{% endblock %}