{% extends 'admin/layout/master.html' %}
{% load static %}
{% block main %}


<div class="modal-dialog" style="float: left; height: 500px; width: 1500px;">
    <div class="modal-content" style="float: left; height: 500px; width: 1500px;">
    	<div class="modal-header" style="background-color: #f0f0f0">
            <center><h3 class="modal-title" id="myModalLabel">Freelancers List</h3></center>
        </div>
        <div class="modal-body">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Joining Date</th>
                    <th>Curent Project</th>
                    <th>status</th>
                    <th>Reviews</th>
                </tr>
                <tr>
                	<td>2</td>
                	<td>hospital</td>
                	<td>JS</td>
                	<td>python</td>
                	<td>12/7/78</td>
                	<td>12/7/78</td>
                	<td>12/7/78</td>
                	<td>12/7/78</td>
                </tr>
                <tr>
                	<td>3</td>
                	<td>hospital</td>
                	<td>JS</td>
                	<td>python</td>
                	<td>120</td>
                	<td>12/7/78</td>
                	<td>12/7/78</td>
                	<td>12/7/78</td>
                </tr>
                <tr>
                	<td>4</td>
                	<td>hospital</td>
                	<td>JS</td>
                	<td>python</td>
                	<td>120</td>
                	<td>12/7/78</td>
                	<td>12/7/78</td>
                	<td>12/7/78</td>
                </tr>
                <tr>
                	<td>5</td>
                	<td>hospital</td>
                	<td>JS</td>
                	<td>python</td>
                	<td>120</td>
                	<td>12/7/78</td>
                	<td>12/7/78</td>
                	<td>12/7/78</td>
                </tr>
                <tr>
                	<td>6</td>
                	<td>hospital</td>
                	<td>JS</td>
                	<td>python</td>
                	<td>120</td>
                	<td>12/7/78</td>
                	<td>12/7/78</td>
                	<td>12/7/78</td>
                </tr>
                
            </table>
        </div>
        <div class="card-footer clearfix">
            <ul class="pagination pagination-md m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}