{% extends 'user/layout/master.html' %}
{% load static %}
{% block main %}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header" style="background-color: #f0f0f0;">
            <center><h3 class="modal-title" id="myModalLabel">My Feed	</h3></center>
        </div>
        <div class="modal-body">
         	<h6 class="media-heading"><strong>New Program Development structure upgradation</strong></h6>
         		<br>
         		<ul>
         			<li>Developer needed for creating a responsive WordPress Theme</li>
         			<li>CAD designer to create a 3D model of a residential building</li>
         			<li>Need a design for a new company logo</li>
         			<li><span class="label label-light">HTML5/CSS</span>
                <span class="label label-info">Python</span>
                <span class="label label-info">Django</span>
                <span class="label label-success">Java</span></li>
         		</ul>
         		
        </div>   
        
	</div>		
</div>


{% endblock %}